<phpdox xmlns="http://phpdox.de/config">
 <!-- 
   ** Before starting a project, name it and update the source field to 
   ** point to the project's location in Jenkins.
   ** The path will be:
   ** /var/lib/jenkins/workspace/[project title in jenkins]
   -->
 <project name="Coding-Standards-Test" workdir="build/phpdox" 
          source="/var/lib/jenkins/workspace/Coding-Standards-Test/src">

  <collector publiconly="false">
   <include mask="*.php" />
    <!--
      ** Exclude skeleton: <exclude mask="" />
      ** Fill in the mask field with the file pattern or directory that
      ** should be excluded. Add a new entry for each file/directory.
      ** Directories can be excluded with the format:
      ** <exclude mask="*/excludedir/*" />
      -->

  </collector>

  <generator output="build">
   <build engine="html" enabled="true" output="api"/>
  </generator>
 </project>
</phpdox>