<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         timeoutForSmallTests="5">


  <testsuites>

  <!--
    ** Enter the name of your Test Suite and its location
    ** Enter the suffix and directory of your unit tests
    -->
    <testsuite name="Test-Suite-Name">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>


  <logging>

  <!-- 
    ** Enter the name of your project 
    -->
    <log type="coverage-html" target="build/coverage" title="Project-Name"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>


  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      
    <!-- 
      ** Enter the directory of your source code
      -->
      <directory suffix=".php">src</directory>

    <!-- 
      ** To exclude files/directories uncomment the following code
      ** Each file/directory must have its own entry
      -->
    <!-- 
      ** <exclude>
      **   <file>src/excludefile.php</file>
      **   <directory>src/excludedirectory</directory>
      ** </exclude>
      -->
    </whitelist>
  </filter>


</phpunit>