<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         timeoutForSmallTests="5">



  <!-- 
    ** To ignore files enter files as comma separated string
    ** If no files should be ignored, remove or comment out the ignore property
    ** Use the following as an example of how to format the ignorefiles property
    -->



  <testsuites>
  <!--
    ** Enter the name of your Test Suite and its location
    ** All Tests should end in 'Test.php'
    -->
    <testsuite name="Test-Suite-Name">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>


  <logging>

  <!-- 
    ** Enter the name of your project 
    -->
    <log type="coverage-html" target="build/coverage" title="Project-Name"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>


  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>


</phpunit>